<mat-card class="title-block">
  <div class="row">
    <div class="col-md-12 title-main">
      <p i18n>Manager OrderShop</p>
    </div>
  </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
  <div class="row">
    <div class="col-md-9 col-xs-12">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Fill keywords you are looking for.."
          i18n-placeholder>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <div class="example-button-row contain-button-filter">
        <button type="button" class="border-0 btn btn-success btn-filter w-120" i18n><i
            class="fa fa-filter"></i>Search</button>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</mat-card>
<!--  end select-top -->

<!-- filter -top -->
<mat-card class="system-custom">
  <div class="row">
    <!-- select IdProductType filter -->
    <div class="col-md-3 col-xs-12">
      <mat-form-field>
        <mat-label i18n>SEARCH IdProductType</mat-label>
        <mat-select [(ngModel)]="IdProductTypeModel" (selectionChange)="onProductTypeSelectionChange($event)">
          <mat-option *ngFor="let item of ProductTypeDatas" [value]="item.id">
            {{item.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3 col-xs-12">
      <mat-form-field class="example-full-width">
        <mat-label i18n>IdOrder(Ex:#41 enter 41) </mat-label>
        <input matInput [(ngModel)]="maDH" (focusout)="onIdOrder($event)">
        <button mat-button *ngIf="maDH" matSuffix mat-icon-button aria-label="Clear" (click)="maDH=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- select IdOrderStatus filter -->
    <div class="col-md-3 col-xs-12">
      <mat-form-field>
        <mat-label i18n>SEARCH IdOrderStatus</mat-label>
        <mat-select [(ngModel)]="IdOrderStatusModel" (selectionChange)="onOrderStatusSelectionChange($event)">
          <mat-option *ngFor="let item of OrderStatusDatas" [value]="item.id">
            {{item.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- select IdCity filter -->
    <div class="col-md-3 col-xs-12">
      <mat-form-field>
        <mat-label i18n>SEARCH IdCity</mat-label>
        <mat-select [(ngModel)]="IdCityModel" (selectionChange)="onCitySelectionChange($event)">
          <mat-option *ngFor="let item of CityDatas" [value]="item.id">
            {{item.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- select IdDistrict filter -->
    <div class="col-md-3 col-xs-12">
      <mat-form-field>
        <mat-label i18n>SEARCH IdDistrict</mat-label>
        <mat-select [(ngModel)]="IdDistrictModel" (selectionChange)="onDistrictSelectionChange($event)">
          <mat-option *ngFor="let item of DistrictDatas" [value]="item.id">
            {{item.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- select IdPaymentStatus filter -->
    <div class="col-md-3 col-xs-12">
      <mat-form-field>
        <mat-label i18n>SEARCH IdPaymentStatus</mat-label>
        <mat-select [(ngModel)]="IdPaymentStatusModel" (selectionChange)="onPaymentStatusSelectionChange($event)">
          <mat-option *ngFor="let item of PaymentStatusDatas" [value]="item.id">
            {{item.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- select IdPaymentType filter -->
    <div class="col-md-3 col-xs-12">
      <mat-form-field>
        <mat-label i18n>SEARCH IdPaymentType</mat-label>
        <mat-select [(ngModel)]="IdPaymentTypeModel" (selectionChange)="onPaymentTypeSelectionChange($event)">
          <mat-option *ngFor="let item of PaymentTypeDatas" [value]="item.id">
            {{item.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- select IdUser filter -->
    <div class="col-md-3 col-xs-12">
      <mat-form-field>
        <mat-label i18n>SEARCH IdUser</mat-label>
        <mat-select [(ngModel)]="IdUserModel" (selectionChange)="onUserSelectionChange($event)">
          <mat-option *ngFor="let item of UserDatas" [value]="item.id">
            {{item.Fullname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>



  </div>
  <div class="row">
  </div>
</mat-card>
<!--  end filter-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
  <div class="row">
    <div class="col-md-12" *ngIf="isPermissionMenu1">
      <button type="button" class="btn btn-success mr-3 btn-add w-120" (click)="onBtnInsertDataClick()" i18n><i
          class="fa fa-plus"></i> Add new </button>
      <button type="button" class="btn btn-success mr-3 btn-add-mobile w-120" (click)="onBtnInsertDataClick()" i18n><i
          class="fa fa-plus"></i> Add </button>
      <!-- <button type="button" class="btn btn-primary d-inline-block mr-3 btn-accept w-120" i18n><i
          class="fa fa-check"></i>
        Duyệt</button> -->
      <!-- <button type="button" class="btn btn-danger btn-del w-120" data-toggle="modal" data-target="#exampleModal" i18n><i
          class="mdi mdi-delete"></i>Delete</button> -->

    </div>
  </div>
</mat-card>
<!-- end button crud-->

<div class="mat-elevation-z8 wp-table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 grid-data-custom">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="check-custom">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef i18n> ID </th>
      <td mat-cell *matCellDef="let row" [style.color]="updateColor(row.IdOrderStatus)"> #{{row.id}} </td>
    </ng-container>

    <!-- IdProductType Column -->
    <ng-container matColumnDef="IdProductType">
      <th mat-header-cell *matHeaderCellDef i18n> Product Type </th>
      <td mat-cell *matCellDef="let row" [style.color]="updateColor(row.IdOrderStatus)">
        {{getDisplayProducttypeById(row.IdProductType)}} </td>
    </ng-container>

    <!-- IdUser Column -->
    <ng-container matColumnDef="IdUser">
      <th mat-header-cell *matHeaderCellDef i18n> User </th>
      <td mat-cell *matCellDef="let row" [style.color]="updateColor(row.IdOrderStatus)">
        {{getDisplayUserById(row.IdUser)}} </td>
    </ng-container>

    <!-- IdOrderStatus Column -->
    <ng-container matColumnDef="IdOrderStatus">
      <th mat-header-cell *matHeaderCellDef i18n> Order Status </th>
      <td mat-cell *matCellDef="let row" [style.color]="updateColor(row.IdOrderStatus)">
        {{getDisplayOrderstatusById(row.IdOrderStatus)}} </td>
    </ng-container>

    <!-- IdCity Column -->
    <ng-container matColumnDef="IdCity">
      <th mat-header-cell *matHeaderCellDef i18n> City </th>
      <td mat-cell *matCellDef="let row" [style.color]="updateColor(row.IdOrderStatus)">
        {{getDisplayCityById(row.IdCity)}} </td>
    </ng-container>

    <!-- IdDistrict Column -->
    <ng-container matColumnDef="IdDistrict">
      <th mat-header-cell *matHeaderCellDef i18n> District </th>
      <td mat-cell *matCellDef="let row" [style.color]="updateColor(row.IdOrderStatus)">
        {{getDisplayDistrictById(row.IdDistrict)}} </td>
    </ng-container>

    <!-- IdPaymentStatus Column -->
    <ng-container matColumnDef="IdPaymentStatus">
      <th mat-header-cell *matHeaderCellDef i18n> Payment Status </th>
      <td mat-cell *matCellDef="let row" [style.color]="updateColor(row.IdOrderStatus)">
        {{getDisplayPaymentstatusById(row.IdPaymentStatus)}} </td>
    </ng-container>

    <!-- IdPaymentType Column -->
    <ng-container matColumnDef="IdPaymentType">
      <th mat-header-cell *matHeaderCellDef i18n> Payment Type </th>
      <td mat-cell *matCellDef="let row"> {{getDisplayPaymenttypeById(row.IdPaymentType)}} </td>
    </ng-container>

    <ng-container matColumnDef="Point">
      <th mat-header-cell *matHeaderCellDef i18n> Point </th>
      <td mat-cell *matCellDef="let row"> {{row.Point}} </td>
    </ng-container>

    <!-- TotalPrice Column -->
    <ng-container matColumnDef="TotalPrice">
      <th mat-header-cell *matHeaderCellDef i18n> Total Price </th>
      <td mat-cell *matCellDef="let row" [style.color]="updateColor(row.IdOrderStatus)"> {{row.TotalPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef i18n style="text-transform:uppercase">Chi tiết</th>
      <td mat-cell *matCellDef="let row">
        <i style="cursor: pointer;color: #03a9f3;" *ngIf="isPermissionMenu1" (click)="onBtnRouteOrder(row)"
          class="fas fa-cookie icon-update" title="Chi tiết"></i>
      </td>
    </ng-container>



    <!-- update -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef i18n style="text-transform:uppercase">Edit</th>
      <td mat-cell *matCellDef="let row" [style.color]="updateColor(row.IdOrderStatus)">
        <i style="cursor: pointer;" *ngIf="isPermissionMenu1" (click)="onBtnUpdateDataClick(row)"
          class="icon-note icon-update" title="Edit"></i>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<!-- pagination -->
<mat-paginator [pageIndex]="pageIndex" [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>


<!-- Accuracy delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="color:red" i18n>Confirm dialog</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" i18n>
        Do you really want to delete these records? This process cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onBtnDelClick()" data-dismiss="modal" i18n>Accept</button>
      </div>
    </div>
  </div>
</div>