<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer" [fullScreen] = "true">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" [ngClass]="{'show': isShow}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-custom" role="document">
        <div class="modal-content">
            <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
            </button>
            <div class="modal-body modal-body-autload p-0" (click)="onAdsClick(ads?.Link)">
                <img [defaultImage]="defaultImage" [lazyLoad]="ads?.Image" alt="{{ads?.Image}}">
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" hidden="true" id="openModal" #openModal data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>
<div class="route-container" [@routeAnimation]="getDepth(myOutlet)">
    <router-outlet #myOutlet="outlet"></router-outlet>
</div>