<div class="row user-profile">
  <div class="col-11">
    <h3>Chi tiết đơn hàng #0123</h3>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">ẢNH SẢN PHẨM</th>
          <th scope="col">TÊN SẢN PHẨM</th>
          <th scope="col">GIÁ SẢN PHẨM</th>
          <th scope="col">SL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="id">#1</th>
          <td class="tab-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi277U89MXXTifmWEMhRcCjTevKmidOQ1uSw&usqp=CAU" class="img-news">
          </td>
          <td class="oder">
            <div class="news">
                <div class="news-content">
                  <h5><a href="#" class="title">Tai nghe (In-Ear Headphones) Xiaomi Mi Basic </a></h5>
                  <p>Phiên bản : 0.0001 <br> Thương hiệu : SamSung</p>
              </div>
            </div>
          </td>
          <td class="price">3.000.000</td>
          <td class="soluong">1</td>
        </tr>
        <tr>
          <th scope="row" class="id">#2</th>
          <td class="tab-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi277U89MXXTifmWEMhRcCjTevKmidOQ1uSw&usqp=CAU" class="img-news">
          </td>
          <td class="oder">
            <div class="news">
                <div class="news-content">
                  <h5><a href="#" class="title">Tai nghe (In-Ear Headphones) Xiaomi Mi Basic </a></h5>
                  <p>Phiên bản : 0.0001 <br> Thương hiệu : SamSung</p>
              </div>
            </div>
          </td>
          <td class="price">3.000.000</td>
          <td class="soluong">1</td>
        </tr>
        <tr>
          <th scope="row" class="id">#3</th>
          <td class="tab-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi277U89MXXTifmWEMhRcCjTevKmidOQ1uSw&usqp=CAU" class="img-news">
          </td>
          <td class="oder">
            <div class="news">
                <div class="news-content">
                  <h5><a href="#" class="title">Tai nghe (In-Ear Headphones) Xiaomi Mi Basic </a></h5>
                  <p>Phiên bản : 0.0001 <br> Thương hiệu : SamSung</p>
              </div>
            </div>
          </td>
          <td class="price">3.000.000</td>
          <td class="soluong">1</td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-secondary" href="#" role="button">Đóng</a>
  </div>

</div>
