.mb-3{
  width: 100%;
}
.btn{
  float: right;
  margin-right: 15px;
  background: var(--main-color);
  border: none;
  height: 40px;
  color: white;
}
.btn:hover{
  background: rgb(33, 186, 233);
}
h3{
  margin: 20px 0px 20px 0px;
}
