<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 text-primary">Change Password</h6>
        </div>
        <div class="col-md-12">
          <form [formGroup]="form" class="row">
            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for="fullName">Old Password</label>
                <input formControlName="password" [(ngModel)]="oldpassword" type="password" class="form-control"
                  id="fullName" placeholder="Enter old password">
              </div>
              <div class="alert alert-danger"
                *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
                <div *ngIf="form.controls['password'].errors.required">
                  Vui lòng nhập trường này.
                </div>
                <div *ngIf="form.controls['password'].errors.minlength">
                  Vui lòng nhập tối thiểu 6 ký tự.
                </div>
                <div *ngIf="form.controls['password'].errors.maxlength">
                  Vui lòng nhập tối đa 80 ký tự.
                </div>
              </div>
            </div>
            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for="eMail">New Password</label>
                <input formControlName="newpassword" [(ngModel)]="newpassword" type="password" class="form-control"
                  id="eMail" placeholder="Enter new password">
              </div>
              <div class="alert alert-danger"
                *ngIf="form.controls['newpassword'].invalid && (form.controls['newpassword'].dirty || form.controls['newpassword'].touched)">
                <div *ngIf="form.controls['newpassword'].errors.required">
                  Vui lòng nhập trường này.
                </div>
                <div *ngIf="form.controls['newpassword'].errors.minlength">
                  Vui lòng nhập tối thiểu 6 ký tự.
                </div>
                <div *ngIf="form.controls['newpassword'].errors.maxlength">
                  Vui lòng nhập tối đa 80 ký tự.
                </div>
              </div>
            </div>
            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for="phone">Repassword</label>
                <input formControlName="repassword" [(ngModel)]="repassword" type="password" class="form-control"
                  id="phone" placeholder="Enter repassword">
              </div>
              <div class="alert alert-danger"
                *ngIf="form.controls['repassword'].invalid && (form.controls['repassword'].dirty || form.controls['repassword'].touched)">
                <div *ngIf="form.controls['repassword'].errors.required">
                  Vui lòng nhập trường này.
                </div>
                <div *ngIf="form.controls['repassword'].errors.minlength">
                  Vui lòng nhập tối thiểu 6 ký tự.
                </div>
                <div *ngIf="form.controls['repassword'].errors.maxlength">
                  Vui lòng nhập tối đa 80 ký tự.
                </div>
                <div *ngIf="form.controls['repassword'].errors.mustMatch">
                  Mật khẩu chưa đúng.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-right">
            <button (click)="onChangePassClick()" type="button" id="submit" name="submit"
              style="background:var(--main-color)" class="btn btn-custom">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>