<!-- <div class="jumbotron text-center">
    <h1 class="display-3">CẢM ƠN</h1>
    <p class="lead"><strong>Vui lòng kiểm tra Email của ban</strong> để được hướng dẫn thêm về cách hoàn thành tài khoản của bạn thiết lập.</p>
    <hr>
    <p>
        Có vấn đề <a routerLink="/i1-contact">liên hệ chúng ôi</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" routerLink="/" role="button">Về trang chủ</a>
    </p>
</div> -->

<div class="wrapper">
    <div class="bg-opacity">
        <div class="container">
            <div class="icon-ok">
                <img src="../../../../assets//images/check.png" alt="check">
            </div>
            <h1>Thank You!</h1>
            <p>Chúc mừng bạn đã đặt hàng thành công. Vui lòng kiểm tra Email của bạn. Cảm ơn bạn đã tin tưởng Rolie - Chúc mọi người khỏe mạnh hạnh phúc </p>
            <div class="btn-home">
                <a routerLink="/">Về trang chủ</a>
            </div>
        </div>
    </div>
</div>