<div class="row">
    <div class="col-12">
      <h3>Liên kết thẻ ngân hàng</h3>
    </div>
    <div class="col-12">
      <div class="paypal">
        <div class="card-paypal">
          <img src="https://vietjet.asia/assets/uploads/2017/06/L%E1%BB%A3i-%C3%ADch-t%E1%BB%AB-vi%E1%BB%87c-s%E1%BB%AD-d%E1%BB%A5ng-visa-card.png" alt="">
          <div class="content-paypal">
            <p>Visa*****4655</p>
            <span>Expires 06/24</span>
          </div>
          <div class="footer-paypal">
            <p>Primary</p>
            <div class="tacvu">
              <a href="#">Remove</a>
              <a href="#">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="add">
        <a href="#">+ Add payment method</a>
      </div>
    </div>
</div>
