.example-full-width {
  width: 100%;
}

.custom-border {
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 15px;
}

.custom-overflow {
  max-height: 350px;
  overflow-y: auto;
}

.custom-margin-button {
  margin-right: 10px;
}
